@model IEnumerable<InvoiceTask.Models.Product>

@{
	ViewBag.Title = "Index";
}

<h2>All Products</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			Quantity
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<input type="hidden" id="product" value="@item.Id"/>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				<input type="hidden" id="price" value="@item.Price" />
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			
			<td>
				<input type="number" placeholder="0" name="quantity"/>
			</td>
			<td>
				<button onclick="Buy()">Buy</button>
			</td>
		</tr>
	}

</table>


@section Scripts {
	<script type="text/javascript">
		function Buy(id) {
			var products = document.getElementsByTagName("input");
			var quantities = document.getElementsByName("quantity");
			var prices = document.getElementsByName("price");
			for (var i = 0; i < products.length; i++) {
				window.localStorage.setItem(products[i].value, products[i].value);
				@*$.ajax({
					url: "@Url.Action("Invoices", "New")",
				}).done(function (str) {
					window.localStorage.setItem(products[i].value, products[i].value);
				});*@
			}

			for (var i = 0; i < quantities.length; i++) {
				prices[i] = quantities[i].value * prices[i].value;
			}

			window.localStorage.setItem("quantities", JSON.stringify(quantities.values));
			window.localStorage.setItem("prices", JSON.stringify(prices));
		}
	</script>
}
